<div class="editSeries">
    <header class="padding bar bar-header bar-positive">
        <h1 class="title">Feedback</h1>
        <!--<button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios7-close-outline"></i></button>-->
    </header>
    <content has-header="true">
          <span>
           <div class="card">
              <div class="item item-text-wrap" ng-click="showZone()">
                Coming Soon
              </div>
            </div>
          </span>
</content>
</div>
