<div class="bar bar-footer bar-stable" ng-controller='footerCtrl'>
    <!--<a class="button button-outline icon-left ion-social-facebook button-positive" ng-click='facebookLogin  ()'>Sign in</a>
        <a class="button button-outline icon-left ion-social-googleplus button-assertive" ng-click='googlePlusLogin()'>Sign in</a>-->
    <!--<a class="button button-outline icon-left ion-ios7-heart button-positive" style="display: none" ng-click='googlePlusLogin()'>&nbsp;Sign in</a>-->
    <a class="button button-outline icon-left ion-ios7-heart button-positive" ng-click='login()'>&nbsp;Sign in</a>
</div>
