<nav-view animation="slide-left-right">
    <header-bar title="title" left-buttons="leftButtons" right-buttons="rightButtons" type="bar-positive" align-title="center"></header-bar>
    <content has-header="true">
        <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small" ng-click="find()">
              submit
            </button>
          </div>

        </div>
       
        <div class="list">
            <a class="item" href="#" ng-repeat="contact in contacts">
                 {{ contact.name.formatted }}
    <span class="item-note">
     {{ contact.phoneNumbers[0].value }}
    </span>
                <!--<h2></h2>
                <p></p>-->
            </a>
            
        </div>
        
        <!-- <div ng-show="contacts.length>0">
                 <p class="centerize">Number of contacts found: {{contacts.length}}</p>
                 <div class="topcoat-list__container list">
                     <ul class=topcoat-list>
                         <li ng-repeat="contact in contacts" class="topcoat-list__item">
                             <p>{{ contact.name.formatted }}
                                 <a href="tel://{{contact.phoneNumbers[0].value}}" style="float:right">{{ contact.phoneNumbers[0].value }}</a></p>
                         </li>
                     </ul>
                 </div>
             </div>-->
    </content>
        </nav-view>
