<nav-view animation="slide-left-right">
    <header-bar title="title" left-buttons="leftButtons" right-buttons="rightButtons" type="bar-positive" align-title="center"></header-bar>
   <!-- <div ng-if="IsUserLoggedIn == 'true'">-->
    <content has-header="true" scroll="true" >
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email">
                </label>
                <button class="button button-small" ng-click="find()">
                    submit
                </button>
            </div>
        </div>
        <div class="list">
            <div class="item item-button-right" ng-repeat="contact in contacts">
                <span ng-show="contact.displayName != ''">{{ contact.displayName }}</span> 
                <span class="button button-balanced" ng-click='doActions($index, contact )' ng-show="contact.displayName != ''">
                    <i class="ion-ios7-person-outline"></i><!--&nbsp;<i class="icon ion-ios7-plus-empty"></i>-->
                </span>
            </div>
        </div>
    </content>
       <!-- </div>-->
    <!--<div ng-if="IsUserLoggedIn == 'false'" >
        <content padding="true" has-header="true">
  <a href="/login" class="button button-balanced">login</a>
</content>
    </div>-->
</nav-view>
