<nav-view animation="slide-left-right">
    <header-bar title="title" left-buttons="leftButtons" right-buttons="rightButtons" type="bar-positive" align-title="center"></header-bar>
    <!--<div ng-if="IsUserLoggedIn == 'true'">-->
    <content has-header="true" scroll="true" >
        <div class="list">
            <div ng-repeat="contact in contacts">
                <div class="item item-button-right" ng-show="contact.displayName != null">
                    <span >{{ contact.displayName }}</span> 
                    <span class="button button-stable" ng-click='doActions($index, contact )'>
                        <i class="ion-ios7-personadd-outline"></i>
                    </span>
                </div>
                </div>
        </div>
    </content>
    <!--    </div>
    <div ng-if="IsUserLoggedIn == 'false'" >
        <content padding="true" has-header="true">
  <a href="/login" class="button button-balanced">login</a>
</content>
    </div>-->
</nav-view>
