<nav-page ng-controller="GameDetailCtrl" title="title" left-buttons="leftButtons" right-buttons="rightButtons">
        <header-bar
        title="title"
        left-buttons="leftButtons"
        right-buttons="rightButtons"
        type="bar-positive"
        align-title="center">
</header-bar>
    <content has-header="true" scroll="true">
        <div class="list">
            <div class="item item-divider">
                Game
                <span class="item-note">
                    Score
                </span>
            </div>
            <a class="item" ng-repeat="game in games">
                <!--<i class="icon ion-ios7-heart-outline assertive"></i>-->
                Game : {{game.game}}
                <span class="item-note">
                    {{game.score}}
                </span>
            </a>
        </div> 
    </content>
</nav-page>

<!--<div ng-controller="footerCtrl">
        <div ng-if="IsUserLoggedIn == 'false'" ng-include="'partials/footer-beforelogin.html'"></div>
        <div ng-if="IsUserLoggedIn == 'true'" ng-include="'partials/footer-afterlogin.html'"></div>
    </div>-->

<script type="text/javascript">
    gaPlugin.trackPage(nativePluginResultHandler, nativePluginErrorHandler, "bowl awesome game page");
</script>
