<nav-view animation="slide-left-right">
    <header-bar title="title" left-buttons="leftButtons" right-buttons="rightButtons" type="bar-positive" align-title="center"></header-bar>
    <content has-header="true">
        <div class="list" >
            <div class="item item-divider">
                League Name
                <span class="item-note">
                    <i class="icon ion-speedometer assertive"></i> 
                    Avg Score 
                </span>
            </div>
            <a class="item item-icon-right" ng-repeat="league in leagues" >
                <span ng-click="doRedirect(league)" style="display: block">
                    <span>{{league.name}}</span>
                    <span class="item-note"> {{league.avgScore}}</span>
                </span>
                <span ng-click='doActions($index, league)'><i class="icon ion-ios7-more-outline"></i></span>
            </a>
        </div>                     
        </content>
        </nav-view>
<div ng-controller="footerCtrl">
    <div ng-if="IsUserLoggedIn == 'false'" ng-include="'partials/footer-beforelogin.html'"></div>
    <div ng-if="IsUserLoggedIn == 'true'" ng-include="'partials/footer-afterlogin.html'"></div>
</div>
