<header-bar
    title="title"
    left-buttons="leftButtons"
    right-buttons="rightButtons"
    type="bar-positive"
    align-title="center">
</header-bar>
<nav-page title="title" left-buttons="leftButtons" right-buttons="rightButtons">
    <content has-header="true">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="User Name" ng-model='user.username'>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model='user.password'>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="doLogin(user)">Login</button>
        </div>
        <div class="padding">
       <!-- <button class="button button-block button-positive">Register</button>-->
      </div>
   </content>
</nav-page>
