<nav-view animation="slide-left-right">
    <header-bar title="title" left-buttons="leftButtons" right-buttons="rightButtons" type="bar-positive" align-title="center"></header-bar>
    <content has-header="true">
     <ul class="list">
        <li class="item item-toggle">
           HTML5
           <label class="toggle">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           CSS3
           <label class="toggle">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Flashplayer
           <label class="toggle">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Java Applets
           <label class="toggle">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           JavaScript
           <label class="toggle">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
         <li class="item item-toggle">
             Silverlight
             <label class="toggle">
                 <input type="checkbox">
                 <div class="track">
                     <div class="handle"></div>
                 </div>
             </label>
         </li>
         <li class="item item-button-right">
           Rate this App
            <button class="button button-balanced button-outline" ng-click="LovethisApp()">
              <i class="icon ion-ios7-redo-outline"></i>
            </button>
        </li>
         <li class="item item-button-right">
           Logout
            <button class="button button-assertive button-outline" ng-click="Logout()">
              <i class="icon ion-ios7-bolt-outline"></i>
            </button>
        </li>
      </ul>
    </content>
</nav-view>
