<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionic.bowlAwesome" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Bowl Awesome</name>
  <description>
    A simple bowling record tracker.
  </description>
  <author email="dev@callback.apache.org" href="http://cordova.io">

  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true" />
  <icon src="icon.png" />
  <icon src="https://s3.amazonaws.com/build.phonegap.com/85e821c6-6276-11e3-a3ff-22000a98b3d6/icon.png" gap:platform="android" gap:density="ldpi" />
  <!--<icon src="res/icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
  <icon src="res/icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
  <icon src="res/icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />-->
</widget>
