<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ionic.bowlAwesome"
    versionCode = "10"
    version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>Bowl Awesome</name>

  <description>
    A simple bowling record tracker.
  </description>

  <author href="https://build.phonegap.com" email="vkathuluri@gmail.com">

  </author>

  <content src="index.html" />
  <access origin="*" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true" />

  <gap:url-scheme name="com.acme.myscheme" role="None">
    <scheme>pgbr</scheme>
    <scheme>pgbw</scheme>
  </gap:url-scheme>

  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.contacts.ContactManager" />

</widget>
