<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bowl Awesome : A simple bowling stats tracker</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="css/ionic.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/index.js"></script>
     <script type="text/javascript" src="GAPlugin.js"></script>

    <!-- ionic/angularjs scripts -->
    <script src="js/ionic.js"></script>
    <!--<script src="js/require.js"></script>-->
    <script src="js/mandrill.js"></script>
    <script src="js/angular/angular.js"></script>

    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-ui-router.js"></script>
    <script src="js/angular/angular-touch.js"></script>

    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->


    <!-- your app's script -->
    <script src="js/xdate.js"></script>
    <script src="js/oAuth.js"></script>
    <script src="js/googleLogin.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/core.js"></script>
    <script src="js/directives.js"></script>


    <!-- google maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

    <!--<script src="https://apis.google.com/js/api.js"
            type="text/javascript">
    </script>-->

    <script type="text/javascript">
        app.initialize();
        gaPlugin.trackPage(nativePluginResultHandler, nativePluginErrorHandler, "bowl awesome");
    </script>
</head>

<body ng-app="bowlawesome" nav-router animation="slide-left-right-ios7">
    <nav-bar animation="nav-title-slide-ios7"
        type="bar-positive"
        back-button-type="button-icon"
        back-button-icon="ion-arrow-left-c"></nav-bar>

    <!-- where the initial view template will be rendered -->
    <nav-view animation="slide-left-right">
  <side-menus>
      <!-- Center content -->
      <pane side-menu-content>
          <ng-view></ng-view>
      </pane>
      <!-- Left menu -->
      <side-menu side="left" ng-controller="leftNavCtrl">
          <header class="bar bar-header bar-positive">
              <h1 class="title">Bowl Awesome</h1>
              <!--<button class="button button-icon" ng-click="newProject()">
                      <i class="ion ion-plus"></i>
                  </button>-->
          </header>
          <content has-header="true" scroll="false">
              <list>
                  <item ng-repeat="item in items" ng-click="selectNavItem(item, $index)" >
                      {{item.title}}
                  </item>              
              </list>
          </content>
      </side-menu>
  </side-menus>
      </nav-view>
    <!-- where the content of each page will be rendered -->

    <script id="modal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">Add New League</h1>
          <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios7-close-outline"></i></button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewLeague(record)">
           <div class="list">
            <label class="item item-input">
                    <span class="input-label">League Name</span>
                    <input type="text" ng-model="record.leagueName" placeholder="eg: Summer League">
                  </label>      
                         </div>
            <div class="padding">
              <button type="submit" class="button button-full button-positive">Create Record</button>
         <div id="map"></div>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script id="seriesModal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">New Series</h1>
          <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios7-close-outline"></i></button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewSeries(record)">
           <div class="list">
            <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="text" ng-model="record.seriesName" placeholder="eg: Jan 21, 2014">
                  </label>      
            </div>
            <div class="padding">
              <button type="submit" class="button button-full button-positive">Create Record</button>
            </div>
          </form>
        </div>
        </content>
      </div>
    </script>

    <script id="gameModal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">New Series</h1>
          <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios7-close-outline"></i></button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewGame(record,selectedItem)">
           <div class="list">
            <label class="item item-input">
                  <span class="input-label">Game</span>
                       <select 
                           ng-model="selectedItem" 
                           ng-options="o.id for o in selectables">
                        </select>
                     
                  </label>
                 <label class="item item-input">
                    <span class="input-label">Score</span>
                    <input type="number" ng-model="record.gameScore" placeholder="eg: 100">
                  </label>            
            </div>
            <div class="padding">
              <button type="submit" class="button button-full button-positive">Create Record</button>
            </div>
          </form>
        </div>
      </div>
    </script>

</body>
</html>
