<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ionic List Example</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">


    <link href="css/ionic.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>

    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>

    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</head>

<body ng-app="listExample" nav-router animation="slide-left-right-ios7">

    <!-- The nav bar that will be updated as we navigate -->
    <nav-bar
        class="nav-title-slide-ios7"
        type="bar-positive"
        back-button-type="button-icon"
        back-button-icon="ion-arrow-left-c"></nav-bar>

    <!-- where the content of each page will be rendered -->
    <ng-view></ng-view>


    <!-- 
      Belows are examples of using inline angular templates:
      http://docs.angularjs.org/api/ng.directive:script
    -->

    <script type="text/ng-template" id="/index.html">
      <nav-page title="title" left-buttons="leftButtons" right-buttons="rightButtons">
        <content has-header="true">
           <div class="list" >
             <div class="item item-divider">
                  League Name
                 <span class="item-note">
         <i class="icon ion-speedometer assertive"></i> 
                    Avg Score 
                </span>
              </div>
        <a class="item " ng-repeat="league in leagues" ng-click="doRedirect(league)" >
        <span style="display:none"></span> 
          {{league.name}}
          <span class="item-note"> {{league.avgScore}}</span>
        </a>
        </div>  
        </content>
      </nav-page>
    </script>

    <script type="text/ng-template" id="/seriesDetails.html">
      <nav-page title="title" right-buttons="rightButtons">     
        <content has-header="true">
           <div class="list">
              <div class="item item-divider">
                Date
             <span class="item-note">
                   <i class="icon ion-ios7-speedometer-outline assertive"></i> Avg Series Score
             </span>
              </div>
             <a class="item" ng-repeat="seriesObj in serieses" ng-click="doRedirect(seriesObj)">
                <!--<i class="icon ion-ios7-heart-outline assertive"></i>-->
                {{seriesObj.name}}
                <span class="item-note">
                  {{seriesObj.avgScore}}
                </span>
             </a>
            </div> 
    </content>
      </nav-page>
    </script>

    <script type="text/ng-template" id="/gameDetails.html">
      <nav-page ng-controller="GameDetailCtrl" title="title"  right-buttons="rightButtons" >
        <content has-header="true">
           <div class="list">
              <div class="item item-divider">
                Dec 07, 2013
             <span class="item-note">
                     Score
             </span>
              </div>
             <a class="item" ng-repeat="game in games" ng-click="doRedirect(seriesObj)">
                <!--<i class="icon ion-ios7-heart-outline assertive"></i>-->
                Game : {{game.game}}
                <span class="item-note">
                  {{game.score}}
                </span>
             </a>
            </div> </content>
      </nav-page>  
    </script>

    <script id="modal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">Add New League</h1>
          <button class="button button-clear" ng-click="closeModal()">Cancel</button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewLeague(record)">
           <div class="list">
            <label class="item item-input">
                    <span class="input-label">League Name</span>
                    <input type="text" ng-model="record.leagueName">
                  </label>      
                         </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Record</button>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script id="seriesModal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">New Series</h1>
          <button class="button button-clear" ng-click="closeModal()">Cancel</button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewSeries(record)">
           <div class="list">
            <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="text" ng-model="record.seriesName">
                  </label>      
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Record</button>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script id="gameModal.html" type="text/ng-template">
      <div class="modal">
        <header class="padding bar bar-header bar-positive">
          <h1 class="title">New Series</h1>
          <button class="button button-clear" ng-click="closeModal()">Cancel</button>
        </header>
        <content has-header="true">
          <form ng-submit="createNewGame(record)">
           <div class="list">
            <label class="item item-input">
                    <span class="input-label">Game</span>
                    <input type="number" ng-model="record.gameNumber">
                  </label>
        <label class="item item-input">
                    <span class="input-label">Score</span>
                    <input type="number" ng-model="record.gameScore">
                  </label>            
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Record</button>
            </div>
          </form>
        </div>
      </div>
    </script>


</body>
</html>
